.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
}

.footer .glyphicon {
  transition: color 0.65s;
}

.footer:hover .glyphicon {
  color: red;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.tag {
  text-align: center;
}

.tag-header,
.tag-footer {
  background: blue;
}

.tag-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #e6e6e6;
  padding: 0.85em;
}

.tag-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 1.25em;
}

.tag-name {
  border-left: 1px solid blue;
  border-right: 1px solid blue;
  margin: 0;
  height: 25vw;
  line-height: 25vw;
  font-size: 6vw;
}

.orange {
  color: orange;
}

.strikethrough {
  text-decoration: line-through;
}

.fancy {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
